<!DOCTYPE html>
<html>
	<head>
		<title>NeuroEvolution : Flappy Bird</title>
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<canvas id="flappy" width="1500" height="512"></canvas> <br/>
		<button onclick="speed(60)">x1</button>
		<button onclick="speed(120)">x2</button>
		<button onclick="speed(180)">x3</button>
		<button onclick="speed(300)">x5</button>
		<button onclick="speed(0)">MAX</button>
		<br/>
  	<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script> var exports = {}; </script>
		<script src = "/javascripts/furhat.js"></script>
		<script src = "/javascripts/game.js"></script>
		<script src = "/javascripts/Neuroevolution.js"></script>


	</body>
</html>
</script>
